<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./style.css" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
  <section class="tsd-panel-group tsd-index-group">
  <article>
    <div id="readme">
      <h1>xxx</h1>
      <p></p>
      <p><a href="https://www.npmjs.com/package/xxx" rel="nofollow"><img src="https://camo.githubusercontent.com/87e231f6c9c425b8388e50d5b37d2712ca941d75263a1f2cc0c4f3e277a5fe4f/68747470733a2f2f696d672e736869656c64732e696f2f6e706d2f762f65732d706b673f636f6c6f723d333363643536266c6f676f3d6e706d" alt="NPM Version" data-canonical-src="https://img.shields.io/npm/v/xxx?color=33cd56&amp;logo=npm" style="max-width: 100%;"></img></a></p>
      <details class="tsd-index-content" open>
        <summary>
          <h2 style="display:inline">📦 <strong>Installation</strong></h2>
        </summary>
        <pre class="tsd-panel-content"><code><span class="pl-s1">npm</span> <span class="pl-s1">install</span> <span class="pl-s1">xxx</span></code></pre>
      </details>
      <details class="tsd-index-content" open>
        <summary>
          <h2 style="display:inline">🔨 <strong>Usage</strong></h2>
        </summary>
        <p class="tsd-panel-content">see demo</p>
      </details>
      <details class="tsd-index-content tsd-index-accordion" open>
        <summary>
          <h2 style="display:inline" role="button" aria-expanded="false" tabIndex="0">👊 Exports</h2>
        </summary>
        <h3 class="tsd-panel-content">
          <table>
            <thead>
              <th>参数</th>
              <th>类型</th>
            </thead>
            <tbody>
              <section class="tsd-index-section">
                <tr>
                  <td><a href="" class="tsd-index-link"><svg class="tsd-kind-icon" viewBox="0 0 24 24">
                        <rect fill="var(--color-icon-background)" stroke="var(--color-ts-enum)" stroke-width="1.5" x="1" y="1" width="22" height="22" rx="6"></rect>
                        <path d="M9.45 16V7.24H14.49V8.224H10.518V10.936H14.07V11.908H10.518V15.016H14.49V16H9.45Z" fill="var(--color-text)"></path>
                      </svg><span>Test<wbr></wbr>Enum</span></a></td>
                  <td><code>Enumerations</code></td>
                </tr>
              </section>
              <section class="tsd-index-section">
                <tr>
                  <td><a href="" class="tsd-index-link"><svg class="tsd-kind-icon" viewBox="0 0 24 24">
                        <rect fill="var(--color-icon-background)" stroke="var(--color-ts-interface)" stroke-width="1.5" x="1" y="1" width="22" height="22" rx="6"></rect>
                        <path d="M9.51 16V15.016H11.298V8.224H9.51V7.24H14.19V8.224H12.402V15.016H14.19V16H9.51Z" fill="var(--color-text)"></path>
                      </svg><span>Resize<wbr></wbr>Props</span></a></td>
                  <td><code>Interfaces</code></td>
                </tr>
                <tr>
                  <td><a href="" class="tsd-index-link"><svg class="tsd-kind-icon" viewBox="0 0 24 24">
                        <rect fill="var(--color-icon-background)" stroke="var(--color-ts-interface)" stroke-width="1.5" x="1" y="1" width="22" height="22" rx="6"></rect>
                        <path d="M9.51 16V15.016H11.298V8.224H9.51V7.24H14.19V8.224H12.402V15.016H14.19V16H9.51Z" fill="var(--color-text)"></path>
                      </svg><span>Resize<wbr></wbr>Props1</span></a></td>
                  <td><code>Interfaces</code></td>
                </tr>
              </section>
              <section class="tsd-index-section">
                <tr>
                  <td><a href="" class="tsd-index-link"><svg class="tsd-kind-icon" viewBox="0 0 24 24">
                        <rect fill="var(--color-icon-background)" stroke="var(--color-ts-type-alias)" stroke-width="1.5" x="1" y="1" width="22" height="22" rx="6"></rect>
                        <path d="M11.31 16V8.224H8.91V7.24H14.79V8.224H12.39V16H11.31Z" fill="var(--color-text)"></path>
                      </svg><span>Resize<wbr></wbr>End</span></a></td>
                  <td><code>Type Aliases</code></td>
                </tr>
              </section>
              <section class="tsd-index-section">
                <tr>
                  <td><a href="" class="tsd-index-link"><svg class="tsd-kind-icon" viewBox="0 0 24 24">
                        <rect fill="var(--color-icon-background)" stroke="var(--color-ts-function)" stroke-width="1.5" x="1" y="1" width="22" height="22" rx="6"></rect>
                        <path d="M9.39 16V7.24H14.55V8.224H10.446V11.128H14.238V12.112H10.47V16H9.39Z" fill="var(--color-text)"></path>
                      </svg><span>Stretch<wbr></wbr>Resize2</span></a></td>
                  <td><code>Functions</code></td>
                </tr>
                <tr>
                  <td><a href="" class="tsd-index-link"><svg class="tsd-kind-icon" viewBox="0 0 24 24">
                        <rect fill="var(--color-icon-background)" stroke="var(--color-ts-function)" stroke-width="1.5" x="1" y="1" width="22" height="22" rx="6"></rect>
                        <path d="M9.39 16V7.24H14.55V8.224H10.446V11.128H14.238V12.112H10.47V16H9.39Z" fill="var(--color-text)"></path>
                      </svg><span>default</span></a></td>
                  <td><code>Functions</code></td>
                </tr>
              </section>
            </tbody>
          </table>
        </h3>
      </details>
    </div>
  </article>
</section>
<details class="tsd-panel-group tsd-member-group" open>
  <summary>
    <h2 style="display:inline" role="button" aria-expanded="false"><svg class="tsd-kind-icon" viewBox="0 0 24 24">
        <rect fill="var(--color-icon-background)" stroke="var(--color-ts-enum)" stroke-width="1.5" x="1" y="1" width="22" height="22" rx="6"></rect>
        <path d="M9.45 16V7.24H14.49V8.224H10.518V10.936H14.07V11.908H10.518V15.016H14.49V16H9.45Z" fill="var(--color-text)"></path>
      </svg><strong>Enumerations</strong></h2>
  </summary>
  <section class="tsd-panel tsd-member">
    <div class="tsd-panel-content"><a class="tsd-anchor"></a>
      <h4 class="tsd-anchor-link"><span>Test<wbr></wbr>Enum</span></h4>
      <div class="tsd-signature"></div>
      <table>
        <thead>
          <tr>
            <th>参数</th>
            <th>类型</th>
            <th>说明</th>
            <th>默认值</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><span class="tsd-kind-property">枚举1</span></td>
            <td><a class="tsd-anchor"></a>
              <div class="tsd-signature"><span class="tsd-signature-symbol">:</span> <code class="tsd-signature-type">0</code></div>
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td><span class="tsd-kind-property">枚举2</span></td>
            <td><a class="tsd-anchor"></a>
              <div class="tsd-signature"><span class="tsd-signature-symbol">:</span> <code class="tsd-signature-type">&quot;test&quot;</code></div>
            </td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</details>
<details class="tsd-panel-group tsd-member-group" open>
  <summary>
    <h2 style="display:inline" role="button" aria-expanded="false"><svg class="tsd-kind-icon" viewBox="0 0 24 24">
        <rect fill="var(--color-icon-background)" stroke="var(--color-ts-interface)" stroke-width="1.5" x="1" y="1" width="22" height="22" rx="6"></rect>
        <path d="M9.51 16V15.016H11.298V8.224H9.51V7.24H14.19V8.224H12.402V15.016H14.19V16H9.51Z" fill="var(--color-text)"></path>
      </svg><strong>Interfaces</strong></h2>
  </summary>
  <section class="tsd-panel tsd-member">
    <div class="tsd-panel-content"><a class="tsd-anchor"></a>
      <h4 class="tsd-anchor-link"><span>Resize<wbr></wbr>Props</span></h4>
      <div class="tsd-signature"></div>
      <table>
        <thead>
          <tr>
            <th>参数</th>
            <th>类型</th>
            <th>说明</th>
            <th>默认值</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><span class="tsd-kind-property">children</span></td>
            <td><a class="tsd-anchor"></a>
              <div class="tsd-signature"><span class="tsd-signature-symbol">?:</span> <code class="tsd-signature-type">React.ReactNode</code></div>
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td><span class="tsd-kind-property">class<wbr></wbr>Name</span></td>
            <td><a class="tsd-anchor"></a>
              <div class="tsd-signature"><span class="tsd-signature-symbol">?:</span> <code class="tsd-signature-type">string</code></div>
            </td>
            <td>
              <div class="tsd-comment tsd-typography">类名称</div>
            </td>
            <td></td>
          </tr>
          <tr>
            <td><span class="tsd-kind-property">is</span></td>
            <td><a class="tsd-anchor"></a>
              <div class="tsd-signature"><span class="tsd-signature-symbol">?:</span> <code class="tsd-signature-type">string</code></div>
            </td>
            <td>
              <div class="tsd-comment tsd-typography">最外面包裹的元素默认是div</div>
            </td>
            <td></td>
          </tr>
          <tr>
            <td><span class="tsd-kind-property">min<wbr></wbr>Size</span></td>
            <td><a class="tsd-anchor"></a>
              <div class="tsd-signature"><span class="tsd-signature-symbol">?:</span> <code class="tsd-signature-type">number</code><span class="tsd-signature-symbol"> | </span><code class="tsd-signature-type">Partial</code><span class="tsd-signature-symbol">&lt;</span><code class="tsd-signature-type">MinSize</code><span class="tsd-signature-symbol">&gt;</span></div>
            </td>
            <td>
              <div class="tsd-comment tsd-typography">宽度和高度的最小值</div>
            </td>
            <td></td>
          </tr>
          <tr>
            <td><span class="tsd-kind-property">on<wbr></wbr>Resize<wbr></wbr>End</span></td>
            <td><a class="tsd-anchor"></a>
              <div class="tsd-signature"><span class="tsd-signature-symbol">?:</span> <a href="" class="tsd-signature-type tsd-kind-type-alias">ResizeEnd</a><span class="tsd-signature-symbol">&lt;</span><code class="tsd-signature-type">void</code><span class="tsd-signature-symbol">&gt;</span></div>
            </td>
            <td>
              <div class="tsd-comment tsd-typography">调整尺寸完成后的回调</div>
            </td>
            <td></td>
          </tr>
          <tr>
            <td><span class="tsd-kind-property">style</span></td>
            <td><a class="tsd-anchor"></a>
              <div class="tsd-signature"><span class="tsd-signature-symbol">?:</span> <code class="tsd-signature-type">React.CSSProperties</code></div>
            </td>
            <td>
              <div class="tsd-comment tsd-typography">内联样式</div>
            </td>
            <td></td>
          </tr>
          <tr>
            <td><span class="tsd-kind-property">type</span></td>
            <td><a class="tsd-anchor"></a>
              <div class="tsd-signature"><span class="tsd-signature-symbol">?:</span> <code class="tsd-signature-type">ResizeType</code><span class="tsd-signature-symbol"> | </span><code class="tsd-signature-type">ResizeType</code><span class="tsd-signature-symbol">[]</span><span class="tsd-signature-symbol"> | </span><code class="tsd-signature-type">&quot;all&quot;</code></div>
            </td>
            <td>
              <div class="tsd-comment tsd-typography">哪些边允许调整</div>
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <section class="tsd-panel tsd-member">
    <div class="tsd-panel-content"><a class="tsd-anchor"></a>
      <h4 class="tsd-anchor-link"><span>Resize<wbr></wbr>Props1</span></h4>
      <div class="tsd-signature"></div>
      <table>
        <thead>
          <tr>
            <th>参数</th>
            <th>类型</th>
            <th>说明</th>
            <th>默认值</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><span class="tsd-kind-property">children</span></td>
            <td><a class="tsd-anchor"></a>
              <div class="tsd-signature"><span class="tsd-signature-symbol">?:</span> <code class="tsd-signature-type">React.ReactNode</code></div>
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td><span class="tsd-kind-property">class<wbr></wbr>Name</span></td>
            <td><a class="tsd-anchor"></a>
              <div class="tsd-signature"><span class="tsd-signature-symbol">?:</span> <code class="tsd-signature-type">string</code></div>
            </td>
            <td>
              <div class="tsd-comment tsd-typography">类名称</div>
            </td>
            <td>```ts
              fff
              ```</td>
          </tr>
          <tr>
            <td><span class="tsd-kind-property">enume</span></td>
            <td><a class="tsd-anchor"></a>
              <div class="tsd-signature"><span class="tsd-signature-symbol">:</span> <a href="" class="tsd-signature-type tsd-kind-enum">TestEnum</a></div>
            </td>
            <td>
              <div class="tsd-comment tsd-typography">枚举</div>
            </td>
            <td></td>
          </tr>
          <tr>
            <td><span class="tsd-kind-property">is</span></td>
            <td><a class="tsd-anchor"></a>
              <div class="tsd-signature"><span class="tsd-signature-symbol">?:</span> <code class="tsd-signature-type">string</code></div>
            </td>
            <td>
              <div class="tsd-comment tsd-typography">最外面包裹的元素默认是div</div>
            </td>
            <td></td>
          </tr>
          <tr>
            <td><span class="tsd-kind-property">min<wbr></wbr>Size</span></td>
            <td><a class="tsd-anchor"></a>
              <div class="tsd-signature"><span class="tsd-signature-symbol">?:</span> <code class="tsd-signature-type">number</code><span class="tsd-signature-symbol"> | </span><code class="tsd-signature-type">Partial</code><span class="tsd-signature-symbol">&lt;</span><code class="tsd-signature-type">MinSize</code><span class="tsd-signature-symbol">&gt;</span></div>
            </td>
            <td>
              <div class="tsd-comment tsd-typography">宽度和高度的最小值</div>
            </td>
            <td></td>
          </tr>
          <tr>
            <td><span class="tsd-kind-property">on<wbr></wbr>Resize<wbr></wbr>End</span></td>
            <td><a class="tsd-anchor"></a>
              <div class="tsd-signature"><span class="tsd-signature-symbol">?:</span> <a href="" class="tsd-signature-type tsd-kind-type-alias">ResizeEnd</a><span class="tsd-signature-symbol">&lt;</span><code class="tsd-signature-type">void</code><span class="tsd-signature-symbol">&gt;</span></div>
            </td>
            <td>
              <div class="tsd-comment tsd-typography">调整尺寸完成后的回调</div>
            </td>
            <td></td>
          </tr>
          <tr>
            <td><del class="tsd-kind-property">⚠️style</del></td>
            <td><a class="tsd-anchor"></a>
              <div class="tsd-signature"><span class="tsd-signature-symbol">?:</span> <code class="tsd-signature-type">React.CSSProperties</code></div>
            </td>
            <td>
              <div class="tsd-comment tsd-typography">内联样式</div>
            </td>
            <td></td>
          </tr>
          <tr>
            <td><span class="tsd-kind-property">type</span></td>
            <td><a class="tsd-anchor"></a>
              <div class="tsd-signature"><span class="tsd-signature-symbol">?:</span> <code class="tsd-signature-type">ResizeType</code><span class="tsd-signature-symbol"> | </span><code class="tsd-signature-type">ResizeType</code><span class="tsd-signature-symbol">[]</span><span class="tsd-signature-symbol"> | </span><code class="tsd-signature-type">&quot;all&quot;</code></div>
            </td>
            <td>
              <div class="tsd-comment tsd-typography">哪些边允许调整</div>
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</details>
<details class="tsd-panel-group tsd-member-group" open>
  <summary>
    <h2 style="display:inline" role="button" aria-expanded="false"><svg class="tsd-kind-icon" viewBox="0 0 24 24">
        <rect fill="var(--color-icon-background)" stroke="var(--color-ts-type-alias)" stroke-width="1.5" x="1" y="1" width="22" height="22" rx="6"></rect>
        <path d="M11.31 16V8.224H8.91V7.24H14.79V8.224H12.39V16H11.31Z" fill="var(--color-text)"></path>
      </svg><strong>Type Aliases</strong></h2>
  </summary>
  <section class="tsd-panel tsd-member">
    <div class="tsd-panel-content"><a class="tsd-anchor"></a>
      <h4 class="tsd-anchor-link"><span>Resize<wbr></wbr>End</span></h4>
      <div class="tsd-signature"><span class="tsd-signature-symbol">&lt;</span><a class="tsd-signature-type tsd-kind-type-parameter" href="">T</a><span class="tsd-signature-symbol">&gt;</span><span class="tsd-signature-symbol">:</span> <span class="tsd-signature-symbol">(</span><span class="tsd-signature-symbol">(</span><span class="tsd-kind-parameter">rect</span>:<code class="tsd-signature-type">DOMRect</code><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol"> =&gt; </span><a class="tsd-signature-type tsd-kind-type-parameter" href="">T</a><span class="tsd-signature-symbol">)</span></div>
    </div>
  </section>
</details>
<details class="tsd-panel-group tsd-member-group" open>
  <summary>
    <h2 style="display:inline" role="button" aria-expanded="false"><svg class="tsd-kind-icon" viewBox="0 0 24 24">
        <rect fill="var(--color-icon-background)" stroke="var(--color-ts-function)" stroke-width="1.5" x="1" y="1" width="22" height="22" rx="6"></rect>
        <path d="M9.39 16V7.24H14.55V8.224H10.446V11.128H14.238V12.112H10.47V16H9.39Z" fill="var(--color-text)"></path>
      </svg><strong>Functions</strong></h2>
  </summary>
  <section class="tsd-panel tsd-member">
    <div class="tsd-panel-content"><a class="tsd-anchor"></a>
      <h4 class="tsd-anchor-link"><span>Stretch<wbr></wbr>Resize2</span></h4>
      <ul class="tsd-signatures">
        <li class="tsd-description"></li>
        <li class="tsd-signature tsd-anchor-link"><a class="tsd-anchor"></a><span class="tsd-kind-call-signature">Stretch<wbr></wbr>Resize2</span><span class="tsd-signature-symbol">(</span><span class="tsd-kind-parameter">props</span>:<a href="" class="tsd-signature-type tsd-kind-interface">ResizeProps</a>, <span class="tsd-kind-parameter">context</span><span class="tsd-signature-symbol">?</span>:<code class="tsd-signature-type">any</code><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><code class="tsd-signature-type">React.ReactNode</code></li>
      </ul>
    </div>
  </section>
  <section class="tsd-panel tsd-member">
    <div class="tsd-panel-content"><a class="tsd-anchor"></a>
      <h4 class="tsd-anchor-link"><span>Stretch<wbr></wbr>Resize</span></h4>
      <ul class="tsd-signatures">
        <li class="tsd-description">
          <div class="tsd-comment tsd-typography">调整元素的宽高</div><span class="tsd-comment tsd-typography">  </span>
        </li>
        <li class="tsd-signature tsd-anchor-link"><a class="tsd-anchor"></a><span class="tsd-kind-call-signature">Stretch<wbr></wbr>Resize</span><span class="tsd-signature-symbol">(</span><span class="tsd-kind-parameter">props</span>:<a href="" class="tsd-signature-type tsd-kind-interface">ResizeProps</a>, <span class="tsd-kind-parameter">context</span><span class="tsd-signature-symbol">?</span>:<code class="tsd-signature-type">any</code><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><code class="tsd-signature-type">React.ReactNode</code></li>
      </ul>
    </div>
  </section>
</details>
  </body>
  <!--ssr-script-->
</html>
