<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./style.css" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Doc</title>
  </head>
  <body>
  <section class="tsd-panel-group tsd-index-group" data-source-1536="">
  <section class="tsd-panel tsd-index-panel" data-source-1536="">
    <details class="tsd-index-content tsd-index-accordion" open data-source-1536="">
      <summary class="tsd-accordion-summary tsd-index-summary" data-source-1536="">
        <h5 class="tsd-index-heading uppercase" role="button" aria-expanded="false" tabIndex="0" data-source-1536=""><svg width="16" height="16" viewBox="0 0 16 16" fill="none" data-source-1536="">
            <path d="M1.5 5.50969L8 11.6609L14.5 5.50969L12.5466 3.66086L8 7.96494L3.45341 3.66086L1.5 5.50969Z" fill="var(--color-text)" data-source-1536=""></path>
          </svg> 导出的内容</h5>
      </summary>
      <div class="tsd-accordion-details" data-source-1536="">
        <section class="tsd-index-section" data-source-1536="">
          <h3 class="tsd-index-heading" data-source-1536="">Interfaces</h3>
          <div class="tsd-index-list" data-source-1536=""><a href="" class="tsd-index-link" data-source-1536=""><svg class="tsd-kind-icon" viewBox="0 0 24 24" data-source-1536="">
                <rect fill="var(--color-icon-background)" stroke="var(--color-ts-interface)" stroke-width="1.5" x="1" y="1" width="22" height="22" rx="6" data-source-1536=""></rect>
                <path d="M9.51 16V15.016H11.298V8.224H9.51V7.24H14.19V8.224H12.402V15.016H14.19V16H9.51Z" fill="var(--color-text)" data-source-1536=""></path>
              </svg><span data-source-1536="">Resize<wbr data-source-1536=""></wbr>Props</span></a>
          </div>
        </section>
        <section class="tsd-index-section" data-source-1536="">
          <h3 class="tsd-index-heading" data-source-1536="">Functions</h3>
          <div class="tsd-index-list" data-source-1536=""><a href="" class="tsd-index-link" data-source-1536=""><svg class="tsd-kind-icon" viewBox="0 0 24 24" data-source-1536="">
                <rect fill="var(--color-icon-background)" stroke="var(--color-ts-function)" stroke-width="1.5" x="1" y="1" width="22" height="22" rx="6" data-source-1536=""></rect>
                <path d="M9.39 16V7.24H14.55V8.224H10.446V11.128H14.238V12.112H10.47V16H9.39Z" fill="var(--color-text)" data-source-1536=""></path>
              </svg><span data-source-1536="">Stretch<wbr data-source-1536=""></wbr>Resize2</span></a>
            <a href="" class="tsd-index-link" data-source-1536=""><svg class="tsd-kind-icon" viewBox="0 0 24 24" data-source-1536="">
                <rect fill="var(--color-icon-background)" stroke="var(--color-ts-function)" stroke-width="1.5" x="1" y="1" width="22" height="22" rx="6" data-source-1536=""></rect>
                <path d="M9.39 16V7.24H14.55V8.224H10.446V11.128H14.238V12.112H10.47V16H9.39Z" fill="var(--color-text)" data-source-1536=""></path>
              </svg><span data-source-1536="">default</span></a>
          </div>
        </section>
      </div>
    </details>
  </section>
</section>
<details class="tsd-panel-group tsd-member-group" open data-source-1536="">
  <summary data-source-1536="">
    <h2 style="display:inline" role="button" aria-expanded="false" data-source-1536="">Interfaces</h2>
  </summary>
  <section class="tsd-panel tsd-member" data-source-1536="">
    <div class="tsd-panel-content" data-source-1536=""><a class="tsd-anchor" data-source-1536=""></a>
      <h3 class="tsd-anchor-link" data-source-1536=""><span data-source-1536="">Resize<wbr data-source-1536=""></wbr>Props</span></h3>
      <div class="tsd-signature" data-source-1536=""></div>
      <div class="tsd-comment tsd-typography" data-source-1536=""></div>
      <table data-source-1536="">
        <thead data-source-1536="">
          <tr data-source-1536="">
            <th data-source-1536="">参数</th>
            <th data-source-1536="">说明</th>
            <th data-source-1536="">类型</th>
            <th data-source-1536="">默认值</th>
          </tr>
        </thead>
        <tbody data-source-1536="">
          <tr data-source-1536="">
            <td data-source-1536=""><span class="tsd-kind-property" data-source-1536="">children</span></td>
            <td data-source-1536=""></td>
            <td data-source-1536=""><a class="tsd-anchor" data-source-1536=""></a>
              <div class="tsd-signature" data-source-1536=""><span class="tsd-signature-symbol" data-source-1536="">?:</span> <code class="tsd-signature-type" data-source-1536="">React.ReactNode</code></div>
            </td>
            <td data-source-1536=""></td>
          </tr>
          <tr data-source-1536="">
            <td data-source-1536=""><span class="tsd-kind-property" data-source-1536="">class<wbr data-source-1536=""></wbr>Name</span></td>
            <td data-source-1536="">
              <div class="tsd-comment tsd-typography" data-source-1536="">类名称</div>
            </td>
            <td data-source-1536=""><a class="tsd-anchor" data-source-1536=""></a>
              <div class="tsd-signature" data-source-1536=""><span class="tsd-signature-symbol" data-source-1536="">?:</span> <code class="tsd-signature-type" data-source-1536="">string</code></div>
              <div class="tsd-comment tsd-typography" data-source-1536=""></div>
            </td>
            <td data-source-1536=""></td>
          </tr>
          <tr data-source-1536="">
            <td data-source-1536=""><span class="tsd-kind-property" data-source-1536="">is</span></td>
            <td data-source-1536="">
              <div class="tsd-comment tsd-typography" data-source-1536="">最外面包裹的元素默认是div</div>
            </td>
            <td data-source-1536=""><a class="tsd-anchor" data-source-1536=""></a>
              <div class="tsd-signature" data-source-1536=""><span class="tsd-signature-symbol" data-source-1536="">?:</span> <code class="tsd-signature-type" data-source-1536="">string</code></div>
              <div class="tsd-comment tsd-typography" data-source-1536=""></div>
            </td>
            <td data-source-1536=""></td>
          </tr>
          <tr data-source-1536="">
            <td data-source-1536=""><span class="tsd-kind-property" data-source-1536="">min<wbr data-source-1536=""></wbr>Size</span></td>
            <td data-source-1536="">
              <div class="tsd-comment tsd-typography" data-source-1536="">宽度和高度的最小值</div>
            </td>
            <td data-source-1536=""><a class="tsd-anchor" data-source-1536=""></a>
              <div class="tsd-signature" data-source-1536=""><span class="tsd-signature-symbol" data-source-1536="">?:</span> <code class="tsd-signature-type" data-source-1536="">number</code><span class="tsd-signature-symbol" data-source-1536=""> | </span><code class="tsd-signature-type" data-source-1536="">Partial</code><span class="tsd-signature-symbol" data-source-1536="">&lt;</span><code class="tsd-signature-type" data-source-1536="">MinSize</code><span class="tsd-signature-symbol" data-source-1536="">&gt;</span></div>
              <div class="tsd-comment tsd-typography" data-source-1536=""></div>
            </td>
            <td data-source-1536=""></td>
          </tr>
          <tr data-source-1536="">
            <td data-source-1536=""><span class="tsd-kind-property" data-source-1536="">on<wbr data-source-1536=""></wbr>Resize<wbr data-source-1536=""></wbr>End</span></td>
            <td data-source-1536="">
              <div class="tsd-comment tsd-typography" data-source-1536="">调整尺寸完成后的回调</div>
            </td>
            <td data-source-1536=""><a class="tsd-anchor" data-source-1536=""></a>
              <div class="tsd-signature" data-source-1536=""><span class="tsd-signature-symbol" data-source-1536="">?:</span> <code class="tsd-signature-type" data-source-1536="">ResizeEnd</code><span class="tsd-signature-symbol" data-source-1536="">&lt;</span><code class="tsd-signature-type" data-source-1536="">void</code><span class="tsd-signature-symbol" data-source-1536="">&gt;</span></div>
              <div class="tsd-comment tsd-typography" data-source-1536=""></div>
            </td>
            <td data-source-1536=""></td>
          </tr>
          <tr data-source-1536="">
            <td data-source-1536=""><span class="tsd-kind-property" data-source-1536="">style</span></td>
            <td data-source-1536="">
              <div class="tsd-comment tsd-typography" data-source-1536="">内联样式</div>
            </td>
            <td data-source-1536=""><a class="tsd-anchor" data-source-1536=""></a>
              <div class="tsd-signature" data-source-1536=""><span class="tsd-signature-symbol" data-source-1536="">?:</span> <code class="tsd-signature-type" data-source-1536="">React.CSSProperties</code></div>
              <div class="tsd-comment tsd-typography" data-source-1536=""></div>
            </td>
            <td data-source-1536=""></td>
          </tr>
          <tr data-source-1536="">
            <td data-source-1536=""><span class="tsd-kind-property" data-source-1536="">type</span></td>
            <td data-source-1536="">
              <div class="tsd-comment tsd-typography" data-source-1536="">哪些边允许调整</div>
            </td>
            <td data-source-1536=""><a class="tsd-anchor" data-source-1536=""></a>
              <div class="tsd-signature" data-source-1536=""><span class="tsd-signature-symbol" data-source-1536="">?:</span> <code class="tsd-signature-type" data-source-1536="">ResizeType</code><span class="tsd-signature-symbol" data-source-1536=""> | </span><code class="tsd-signature-type" data-source-1536="">ResizeType</code><span class="tsd-signature-symbol" data-source-1536="">[]</span><span class="tsd-signature-symbol" data-source-1536=""> | </span><code class="tsd-signature-type" data-source-1536="">&quot;all&quot;</code></div>
              <div class="tsd-comment tsd-typography" data-source-1536=""></div>
            </td>
            <td data-source-1536=""></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</details>
<details class="tsd-panel-group tsd-member-group" open data-source-1536="">
  <summary data-source-1536="">
    <h2 style="display:inline" role="button" aria-expanded="false" data-source-1536="">Functions</h2>
  </summary>
  <section class="tsd-panel tsd-member" data-source-1536="">
    <div class="tsd-panel-content" data-source-1536=""><a class="tsd-anchor" data-source-1536=""></a>
      <h3 class="tsd-anchor-link" data-source-1536=""><span data-source-1536="">Stretch<wbr data-source-1536=""></wbr>Resize2</span></h3>
      <ul class="tsd-signatures" data-source-1536="">
        <li class="tsd-description" data-source-1536=""></li>
        <li class="tsd-signature tsd-anchor-link" data-source-1536=""><a class="tsd-anchor" data-source-1536=""></a><span class="tsd-kind-call-signature" data-source-1536="">Stretch<wbr data-source-1536=""></wbr>Resize2</span><span class="tsd-signature-symbol" data-source-1536="">(</span><span class="tsd-kind-parameter" data-source-1536="">props</span>:<a href="" class="tsd-signature-type tsd-kind-interface" data-source-1536="">ResizeProps</a>, <span class="tsd-kind-parameter" data-source-1536="">context</span><span class="tsd-signature-symbol" data-source-1536="">?</span>:<code class="tsd-signature-type" data-source-1536="">any</code><span class="tsd-signature-symbol" data-source-1536="">)</span><span class="tsd-signature-symbol" data-source-1536="">: </span><code class="tsd-signature-type" data-source-1536="">React.ReactNode</code></li>
      </ul>
    </div>
  </section>
  <section class="tsd-panel tsd-member" data-source-1536="">
    <div class="tsd-panel-content" data-source-1536=""><a class="tsd-anchor" data-source-1536=""></a>
      <h3 class="tsd-anchor-link" data-source-1536=""><span data-source-1536="">Stretch<wbr data-source-1536=""></wbr>Resize</span></h3>
      <ul class="tsd-signatures" data-source-1536="">
        <li class="tsd-description" data-source-1536="">
          <div class="tsd-comment tsd-typography" data-source-1536="">调整元素的宽高</div>
          <div class="tsd-comment tsd-typography" data-source-1536=""></div>
        </li>
        <li class="tsd-signature tsd-anchor-link" data-source-1536=""><a class="tsd-anchor" data-source-1536=""></a><span class="tsd-kind-call-signature" data-source-1536="">Stretch<wbr data-source-1536=""></wbr>Resize</span><span class="tsd-signature-symbol" data-source-1536="">(</span><span class="tsd-kind-parameter" data-source-1536="">props</span>:<a href="" class="tsd-signature-type tsd-kind-interface" data-source-1536="">ResizeProps</a>, <span class="tsd-kind-parameter" data-source-1536="">context</span><span class="tsd-signature-symbol" data-source-1536="">?</span>:<code class="tsd-signature-type" data-source-1536="">any</code><span class="tsd-signature-symbol" data-source-1536="">)</span><span class="tsd-signature-symbol" data-source-1536="">: </span><code class="tsd-signature-type" data-source-1536="">React.ReactNode</code></li>
      </ul>
    </div>
  </section>
</details>
  </body>
  <!--ssr-script-->
</html>
